In [1]:
%load_ext sql

In [2]:
import os

In [3]:
host = "localhost"
database = "dvdrental"
user = "postgres"
password = os.getenv("SQL_PASSWORD")

In [4]:
conn_string = f"postgresql://{user}:{password}@{host}/{database}"

In [5]:
conn_string

'postgresql://postgres:nimishanooti@localhost/dvdrental'

In [6]:
%sql $conn_string

In [8]:
%%sql

SELECT * FROM payment LIMIT 10

 * postgresql://postgres:***@localhost/dvdrental
10 rows affected.

[(17503, 341, 2, 1520, Decimal('7.99'), datetime.datetime(2007, 2, 15, 22, 25, 46, 996577)),
 (17504, 341, 1, 1778, Decimal('1.99'), datetime.datetime(2007, 2, 16, 17, 23, 14, 996577)),
 (17505, 341, 1, 1849, Decimal('7.99'), datetime.datetime(2007, 2, 16, 22, 41, 45, 996577)),
 (17506, 341, 2, 2829, Decimal('2.99'), datetime.datetime(2007, 2, 19, 19, 39, 56, 996577)),
 (17507, 341, 2, 3130, Decimal('7.99'), datetime.datetime(2007, 2, 20, 17, 31, 48, 996577)),
 (17508, 341, 1, 3382, Decimal('5.99'), datetime.datetime(2007, 2, 21, 12, 33, 49, 996577)),
 (17509, 342, 2, 2190, Decimal('5.99'), datetime.datetime(2007, 2, 17, 23, 58, 17, 996577)),
 (17510, 342, 1, 2914, Decimal('5.99'), datetime.datetime(2007, 2, 20, 2, 11, 44, 996577)),
 (17511, 342, 1, 3081, Decimal('2.99'), datetime.datetime(2007, 2, 20, 13, 57, 39, 996577)),
 (17512, 343, 2, 1547, Decimal('4.99'), datetime.datetime(2007, 2, 16, 0, 10, 50, 996577))]